<section class="card">
  <a href="/products/{{id}}">
    <header>products</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>By: {{product_name}}</p>
    </div>
  </a>
</section>