html, body {
    height: 100%;
    background-image: url(../assets/images/plainSkyBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#heading {
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

#dl-logo {
    filter: drop-shadow(0 0 20px #3078fe);
}


/* tinkerbell cursor */
* {
    cursor: url(https://cur.cursors-4u.net/toons/too-9/too908.ani),
        url(https://cur.cursors-4u.net/toons/too-9/too908.png), auto !important;
}



/* text glow */
/* .glow { */
    /* font-size: 80px; */
    /* color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
   */
/* @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #3078fe, 0 0 40px #3078fe, 0 0 50px #3078fe, 0 0 60px #3078fe, 0 0 70px #3078fe;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #6eb8fc, 0 0 40px #6eb8fc, 0 0 50px #6eb8fc, 0 0 60px #6eb8fc, 0 0 70px #6eb8fc, 0 0 80px #6eb8fc;
    }
} */

/* star glow */



@keyframes glowing {
    0% { filter: drop-shadow(0 0 -10px #c4a300); }
    40% { filter: drop-shadow(0 0 20px #dcc44e); }
    60% { filter: drop-shadow(0 0 20px #fce988); }
    100% { filter: drop-shadow(0 0 -10px #c4a300); };
}
.button-glow { 
    animation: glowing 4000ms infinite;
}
  


/* imported fonts */

@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
/* font-family: 'Mouse Memoirs', sans-serif; */
