<header class="title">
        
        <button class="nav-toggle" aria-label="toggle navigtion">
          <p class="inline fast-pass">Fast-Pass ➡</p>
            <span class="hamburger inline"></span>
        </button>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="mainpark" class="nav__link">Entrance</a></li>
                <li class="nav__item"><a href="space" class="nav__link">Space Mountain</a></li>
                <li class="nav__item"><a href="pirates" class="nav__link">Pirates of the Carribean</a></li>
                <li class="nav__item"><a href="Haunted" class="nav__link">Haunted Mansion</a></li>
                <li class="nav__item"><a href="starwars" class="nav__link">Star Wars</a></li>
                <li class="nav__item"><a href="vendorc" class="nav__link">Vendorçs</a></li>
                <li class="nav__item"><a href="/" class="nav__link">Exit Park</a></li>
            </ul>
        </nav>
    </header>

    <main class="title-section"><h1>Virtual Theme Park 💻</h1>
      <h1 class="title-h1">
      </h1>
    </main>
    <h1 id="Space">🎃The Haunted Mansion Virtual Ride👻</h1>
  <section class="my-services">
    <div id="services">
      <div class="service">
              <p class="Info">The Haunted Mansion is a dark ride attraction located at Disneyland Park (Disneyland Resort), Magic Kingdom, Tokyo Disneyland, Disneyland Park (Paris) and at Hong Kong Disneyland, although each location differs in design. Riders go through a haunted manor resided in by "999 happy haunts."
              </p> 
        </div>
  </section>
  <div class="Youtube">
    <h1>Click Play to Start Ride</h1>
    <iframe width="850" height="505" src="https://www.youtube.com/embed/ZAnYRlNDM5A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  


  <section class="my-services2">
    <div id="services2">
      <div class="service2">
              <p class="Info2">The Haunted Mansion features a ride-through tour in Omnimover vehicles called "Doom Buggies", and a walk-through show is displayed to riders waiting in the line queue. The attraction utilizes a range of technology, from centuries-old theatrical effects to modern special effects featuring spectral Audio-Animatronics.
              </p> 
        </div>
  </section>
  <footer class="Exit">
    <a
    href="/mainpark"><h1>Back to Park</h1></a>
  </footer>      

 <script src="/js/script.js"></script>   
</body>
</html>