<header class="title">
        
        <button class="nav-toggle" aria-label="toggle navigtion">
          <p class="inline fast-pass">Fast-Pass➡️</p>
            <span class="hamburger inline"></span>
        </button>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="mainpark" class="nav__link">Entrance</a></li>
                <li class="nav__item"><a href="space" class="nav__link">Space Mountain</a></li>
                <li class="nav__item"><a href="pirates" class="nav__link">Pirates of the Carribean</a></li>
                <li class="nav__item"><a href="Haunted" class="nav__link">Haunted Mansion</a></li>
                <li class="nav__item"><a href="starwars" class="nav__link">Star Wars</a></li>
                <li class="nav__item"><a href="/" class="nav__link">Exit Park</a></li>
            </ul>
        </nav>
    </header>

    <main class="title-section"><h1>Virtual Theme Park 💻</h1>
      <h1 class="title-h1">
      </h1>
    </main>
    <h1 id="Space">Space Mountain Virtual Ride 🚀</h1>
  <section class="my-services">
    <div id="services">
      <div class="service">
              <p class="Info">Space Mountain (sometimes themed as Hyperspace Mountain) is an indoor, space-themed roller coaster in Tomorrowland at Disneyland in Anaheim, California. Opened on May 27, 1977, it was the second roller coaster built at Disneyland, and was the second of the five versions of Space Mountain built by The Walt Disney Company. Its exterior façade is one of Disneyland's four "mountain" structures that serve as park landmarks.
              </p> 
        </div>
  </section>
  
  <div class="Youtube">
    <h1>Click Play to Start Ride</h1>
    <iframe width="850" height="505" src="https://www.youtube.com/embed/WMMiZFPYg6M?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  


  <section class="my-services2">
    <div id="services2">
      <div class="service2">
              <p class="Info2">Walt Disney originally conceived the idea of a space-themed roller coaster for Disneyland following the success of the Matterhorn Bobsleds, which opened in 1959. However, a number of factors including lack of available space, Walt Disney's death, and the Disney company's focus on building what would become Walt Disney World led to the project's postponement in the late 1960s. After the early success of the Magic Kingdom park at Walt Disney World.
              </p> 
        </div>
  </section>
  <footer class="Exit">
    <h1>Back to Park</h1>   


</body>
</html>