body {
    width: 100%;
    /* background: linear-gradient(rgba(91, 89, 89, 0.3), rgba(223, 218, 218, 0.3)),
        url(/images/ticketbooth.jpg); */
	background-image: url(/images/ticketbooth.jpg);;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.form, .login-form, .signup-form, h2 {
	font-family:  'Mouse Memoirs', sans-serif;
	font-size: 2rem;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	margin-top: 5%;
	
}

.card {
	max-width: 25%;
}

h2 {
	font-family: 'Mouse Memoirs', sans-serif;
    color:whitesmoke;
	filter: drop-shadow(0 0 20px #272829);
    font-size: 100px;
    margin-bottom: 5px;
}

.form-group {
	display: flex;
	align-items: center;
	max-width: 100%;
}

/* TINKERBELL Cursor */
* {
    cursor: url(https://cur.cursors-4u.net/toons/too-9/too908.ani),
        url(https://cur.cursors-4u.net/toons/too-9/too908.png), auto !important;
}
/* ---------------- */