body {
    height: 100%;
    width: 100%;
    background-image: url("/images/project2LangingPage.jpg");
    background-position: center;    
}

/* TINKERBELL Cursor */
* {
    cursor: url(https://cur.cursors-4u.net/toons/too-9/too908.ani),
        url(https://cur.cursors-4u.net/toons/too-9/too908.png), auto !important;
}
/* ---------------- */

