html, body{
    height: 100%;
    background-image: url(../images/project2LangingPage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

<<<<<<< HEAD


#myModal {
    margin-top: 300px;

}
=======
>>>>>>> 4a6ab6efcacf50b27dac5f6c92cc17b2664fe7d9


